<div fxLayout="row" fxLayoutAlign="center center" >

  <mat-card 
    fxLayout="column" 
    fxFlex="420px" 
    fxLayoutGap="0.1em">
    <mat-toolbar color="primary">Forgot Password</mat-toolbar>

    <form 
      fxLayoutAlign="space-around" 
      fxLayoutGap="20px" 
      fxLayout="column" 
      [formGroup]="emailform">
       <div style="margin-top: 20px; text-align: center;"></div>

       <mat-form-field>
          <input matInput placeholder="Email" class="form-control" formControlName="email">
        </mat-form-field>
        <div *ngIf="emailform.controls.email.invalid && (emailform.controls.email.dirty || emailform.controls.email.touched)" class="alert alert-danger">
          <div *ngIf="emailform.controls.email.errors.required ">Your email is not optional </div>
          <div *ngIf="emailform.controls.email.errors.email ">Your email is invalid </div>
        </div>

      <button
        mat-raised-button 
        (click)="sendForgotPasswordLink()"
        color="primary">
        Send
      </button>

    </form>
   
  </mat-card>

</div>
  
  
  
