/* .example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
  max-width: 80vw;
} */

.myfield {
  /* display: flex;
  flex-basis: 220px; */
  background-color: aquamarine;
  padding: .2em 0;
}

.myfield mat-form-field{
  background-color: azure;
  margin-right: 1em;
  float: left;
}